.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.chat-message {
    max-width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
}

.my-message {
    background-color: #007bff;
    color: white;
    align-self: flex-end; /* 오른쪽 정렬 */
    border-bottom-right-radius: 0;
}

.other-message {
    background-color: #f1f1f1;
    color: black;
    align-self: flex-start; /* 왼쪽 정렬 */
    border-bottom-left-radius: 0;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-content {
    word-wrap: break-word;
}

.chat-input-container {
    display: flex;
    align-items: center;
}

.nickname-input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.message-input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 2;
}

.send-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}
